body {
  background-color: #1c1a19;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3a39;
  margin: 0;
  padding: 0;
}

.logo-div {
  padding: 10px 12px 10px 12px;
}

.menu-div {
  padding: 8px;
  margin-right: 10px;
}

.logo-div > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.first-section {
  padding: 120px 24px 160px 24px;
  background: url(Illustration.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.first-section > h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
}

.first-section > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.first-section > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.style-img > img {
  position: absolute;
  height: 312px;
  right: 0;
  bottom: -8;
}

.about-me-info {
  background: url(Frame.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 120px 24px 160px 24px;
}

.about-me-info h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
}

.button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 12px;
  background-color: #ff6b00;
  width: 156px;
  height: 48px;
  border: none;
}

.knowledge {
  text-align: center;
  margin: 0 auto;
  padding: 120px 24px 38px 24px;
}

.knowledge ul li ul li {
  font-weight: 400;
  font-size: 22px;
  line-height: 42.67px;
  list-style: none;
  text-align: center;
}

.language,
.frameworks,
.skills {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}

.list-styling {
  margin-right: 15px;
  height: 20px;
  width: auto;
}

.knowledge ul {
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
}

.contact-form {
  background-color: white;
  padding: 120px 24px 120px 24px;
}

.contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 48px;
}

form textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: black;
  background-color: #fbf8f7;
}

#submit-btn {
  align-self: center;
  margin-top: 20px;
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #dfe1e6;
  gap: 10px;
  padding: 30px 0;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bottom-line {
  border-bottom: 4px solid black;
  border-radius: 4px;
  width: 200px;
  height: 20px;
}

.align-left {
  justify-content: flex-start;
}

.works-section {
  background-color: white;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-container {
  border-bottom: 2px solid black;
  width: 80%;
  margin-bottom: 70px;
}

.heading-container h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 52px;
}

.multi-post-stories h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.multi-post-stories p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill {
  border: 1.5px solid #8993a4;
  padding: 10px 16px 10px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #091e42;
  text-align: center;
}

.all-projects-container {
  display: flex;
  flex-direction: column;
}

.project {
  background: url(projectbackground.png);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 387px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
  margin-bottom: -2px;
}

.project h2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: white;
  margin: 0;
}

.project p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.project-skills-container {
  display: flex;
  gap: 20px;
}

.graycolor {
  color: white;
  background-color: rgba(211, 211, 211, 0.3);
  border: none;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project-btn {
  width: 327px;
  background-color: #ff6b00;
  color: white;
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.project-container {
  margin-bottom: 20px;
}

#nav-div {
  display: none;
  color: white;
  width: 255px;
}

#nav-div ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

#nav-div ul li {
  font: 'Inter', serif;
  font-weight: 600;
  font-size: 15px;
}

@media (min-width: 768px) {
  #nav-div {
    display: flex;
    gap: 30px;
  }

  .menu-div {
    display: none;
  }

  header {
    padding-left: 100px;
    padding-right: 200px;
  }

  .first-section {
    width: 350px;
    padding-left: 200px;
    background: url(firstsectiondesktopimg.png);
    padding-right: 1000px;
    background-repeat: no-repeat;
    background-position: right;
  }

  #work-section-img-container > img {
    width: 684px;
  }

  .multi-post-stories {
    width: 350px;
  }

  #work-section-img-container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .project-container {
    width: 343px;
  }

  .all-projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .about-me-info {
    width: 600px;
    background-image: url(aboutmesectiondesktopimg.png);
    background-repeat: no-repeat;
    padding-right: 900px;
  }

  .knowledge {
    margin-top: 200px;
  }

  .knowledge ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .knowledge ul li ul {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .contact-form {
    display: flex;
  }

  form {
    width: 1500px;
    margin: 0 50px;
  }

  .contact-form h2 {
    margin-left: 40px;
  }

  .bottom-line {
    display: none;
  }
}
